.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;


  /* дописано чтоб применить флекс базис*/
  /*
  position: relative;
  flex-basis: 711px;
  justify-content: flex-start;
  align-items: flex-start;
  */
}
