.footer__author {
  /* margin: 18px 0; */
  position: absolute; /* дописано чтоб применить флекс базис*/
  left: 0; /* дописано чтоб применить флекс базис*/
  bottom: 18px; /* дописано чтоб применить флекс базис*/
  margin: 18px 0 0; /* дописано чтоб применить флекс базис*/
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
