.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.logo {
  width: 183px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  padding-left: 64px;
  margin: 0;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 2;
  color: #000000;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
  margin: 0;
  color: #000000;
  /*text-align: left; /* убрал, ничего не поменялось */
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  margin-top: 100px;
  display: flex; /* ВЕРНУТЬСЯ */
  justify-content: center;
}

.two-columns {
  width: 80%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: #000000;
  /* min-height: 300px; /* ВЕРНУТЬСЯ после проверки в браузерах */
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  color: #000000;
}

.section-subtitle {
  margin: 20px 0 0;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  color: #000000;
}

.table {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;

  /* color задал в модификаторах тк он разный */
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  color: #000000;
  background-color:#f2f2f2;
  height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feynman__image {
  background-image: url(../images/feynman.png);
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0;
  bottom: 0;
}


.feynman__title {
  margin: 0;
  margin-top: 100px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 1;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__text_theme_dark {
  margin-bottom: 0;
}


.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
}

.footer {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box; /* положил паддинги внутрь*/
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  position: relative; /* дописано чтоб применить флекс базис*/
  flex-basis: 711px; /* дописано чтоб применить флекс базис*/
  justify-content: flex-start; /* дописано чтоб применить флекс базис*/
  align-items: flex-start; /* дописано чтоб применить флекс базис*/
  /*justify-content: space-between;
  flex-direction: column;
  width: 50%; */
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  /* margin: 18px 0; */
  position: absolute; /* дописано чтоб применить флекс базис*/
  left: 0; /* дописано чтоб применить флекс базис*/
  bottom: 18px; /* дописано чтоб применить флекс базис*/
  margin: 18px 0 0; /* дописано чтоб применить флекс базис*/
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0 0 16px;
  list-style: none;
  padding: 0;
}

.footer__column_content_social {
  flex-direction: column;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;

}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}


